<!-- first section -->
<div id="section1" class="home">
    <div class="text-vcenter">
        <h1>Northeastern e-Shop</h1>
        <h3>This is your store</h3>
        <a href="#!product" class="btn btn-default btn-lg">Shop Now!</a>
    </div>
</div>
<!-- /first section -->
<!-- second section -->
<div id="section2" class="pad-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="images/Northeastern.png" alt="" />
            </div>
            <div class="col-sm-6 text-center">
                <h2>Northeastern Clothing and NU Gear at the Official Online
                    Shop</h2>
                <p class="lead">Shop for Northeastern University Apparel at the
                    Official NU Athletics Store where you can find the best selection
                    of Northeastern Clothing for men, women and kids to wear! The
                    Official NU Huskies Shop stocks the hottest styles of Northeastern
                    Gear in the top brands of sportswear so you can stay stylish while
                    cheering for the Huskies during the season. Display Huskies spirit
                    everywhere you go with our endless assortment of Northeastern
                    University Clothes and NU Attire for students and alumni. Cheer
                    your Huskies on with the best Northeastern Basketball Gear you can
                    find online or in stores.</p>
            </div>
        </div>
    </div>
</div>
<!-- /second section -->
<!-- third section -->
<div id="section3" class="pad-section">
    <div class="container">
        <h2 class="text-center">Our Services</h2>
        <hr />
        <div class="row text-center">
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-cloud"> </i>
                <h4>Service 1</h4>
                <p>Our Fan Advocates are committed to your satisfaction and view
                    each time you contact us as a chance to build a relationship. We're
                    shoppers too and dedicated to delivering our customers the kind of
                    shopping experience we would want to have. If your expectations are
                    not exceeded and if you don't look forward to coming back, then we
                    haven't done our job!</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-leaf"> </i>
                <h4>Service 2</h4>
                <p>We don't feel you should be punished with higher shipping
                    fees based on your total order value. No matter how many items you
                    purchase, you will enjoy one low rate for shipping. We proudly
                    offer Flat Rate shipping for any order, as well as other low cost,
                    expedited shipping options.</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-phone-alt"> </i>
                <h4>Service 3</h4>
                <p>Our top priority is to provide the best service possible and
                    if you don't love what you ordered, we don't want you to keep it.
                    If for any reason you are not satisfied with your purchase, you may
                    return the item(s) in original condition for a full refund.</p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <i class="glyphicon glyphicon-bullhorn"> </i>
                <h4>Service 4</h4>
                <p>Protecting your privacy is of the utmost importance to us. We
                    use state-of-the-art encryption technology (SSL) to protect your
                    credit card/personal information. Your information is 100% safe
                    when you shop with us. We sometimes email you to alert you of
                    special sales or new arrivals, but you are free to opt-out of these
                    messages with one click.</p>
            </div>
        </div>
    </div>
</div>
<!-- /third section -->
<!-- fourth section -->
<div id="section4" class="pad-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Additional information</h2>
                    </div>
                    <div class="panel-body lead">We offer a huge selection of
                        gear from top quality brands, all in one convenient place. We are
                        passionate about our goal of bringing fans across the globe access
                        to their favorite team's gear. We pride ourselves on not only
                        carrying a large selection of officially licensed products from
                        the top brands, but also industry leading customer service,
                        shipping and return policies.</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Purchase information</h2>
                    </div>
                    <div class="panel-body lead">Each item that is purchased
                        requires a specific warehouse processing time before your order
                        can ship from our facility. The processing time is different for
                        each item and can be located on the item's description page, just
                        under the item's image. Transit time begins once the order has
                        completed this processing time and has shipped from our facility.
                        Delivery expectation also varies based on the shipping method you
                        choose at checkout.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /fourth section -->
<!-- fifth section -->
<div id="section3" class="pad-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>We provide everything you need</h3>
            </div>
        </div>
    </div>
</div>