<div id="services-section1" class="pad-section">
    <div class="container">

        <div class="row" style="margin-left: 20%; margin-right: 20%;">
            <header class="section-header text-center">
                <h1>Services &amp; Pricing</h1>
                <hr class="hr--small">
            </header>
            <div id="list-prices">
                <p>
                    <strong>Below is a list of Northeastern Tailor services
                        and pricing. Simply text us with what you need and we will get you
                        all taken care of.</strong>
                </p>
                <p>
                    Instead of in-person fittings, you can either send us a sample
                    article and we'll match it (imagine if all your jeans fit like your
                    favorite pair!) or we can help you find your best fit by walking
                    you through easy visual instructions on where to&nbsp;place safety
                    pins.&nbsp;<br> <br>
                </p>
                <p style="text-align: center;">
                    <a href="services.html#shirts" style="color: #000000;"
                       class="text-link">Shirts</a> &nbsp;· &nbsp;<a
                        href="services.html#pants" style="color: #000000;"
                        class="text-link">Pants</a>&nbsp;&nbsp;· &nbsp;<a
                        href="services.html#ties" style="color: #000000;"
                        class="text-link">Ties</a>&nbsp; · &nbsp;<a
                        href="services.html#dresses" style="color: #000000;"
                        class="text-link">Dresses</a>&nbsp; · &nbsp;<a
                        href="services.html#skirts" style="color: #000000;"
                        class="text-link">Skirts</a>&nbsp;&nbsp;· &nbsp;<a
                        href="services.html#suits" style="color: #000000;"
                        class="text-link">Suits</a>&nbsp; · &nbsp;<a
                        href="services.html#coats" style="color: #000000;"
                        class="text-link">Coats</a>
                </p>
                <br> <br>
                <h1 id="shirts" style="text-align: center;">SHIRTS</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <div></div>
                            <div></div> <strong>Service</strong>
                        </th>
                        <th class="text-right"><strong>Price</strong></th>
                    </tr>

                    <tr>
                        <td>Shirt Sleeves Length Taken Up — With Cuff</td>
                        <td class="text-right">$25.00</td>
                    </tr>
                    <tr>
                        <td>Shirt Sleeves Length Taken Up — Without Cufff</td>
                        <td class="text-right">$15.50</td>
                    </tr>
                    <tr>
                        <td>Shirt Sides Taken In</td>
                        <td class="text-right">$25.00</td>
                    </tr>
                    <tr>
                        <td>Shirt Sleeves Taken In</td>
                        <td class="text-right">$24.00</td>
                    </tr>
                    <tr>
                        <td>Long Into Short Sleeve Shirt</td>
                        <td class="text-right">$15.50</td>
                    </tr>
                    </tbody>
                </table>
                <br> <br>
                <h1 id="pants" style="text-align: center;">PANTS</h1>
                <table class="table">
                    <tr>
                        <th>
                            <div></div>
                            <div></div> <strong>Service</strong>
                        </th>
                        <th class="text-right"><strong>Price</strong></th>
                    </tr>

                    <tr>
                        <td>Seat / Waistband Taken In — Jeans</td>
                        <td class="text-right">$23.00</td>
                    </tr>
                    <tr>
                        <td>Seat / Waistband Taken In — Pants</td>
                        <td class="text-right">$25.00</td>
                    </tr>
                    <tr>
                        <td>Seat / Waistband Taken In – Shorts</td>
                        <td class="text-right">$22.00</td>
                    </tr>
                    <tr>
                        <td>Slim Pants Legs (Taper)</td>
                        <td class="text-right">$19.00</td>
                    </tr>
                    <tr>
                        <td>Slim Shorts Legs (Taper)t</td>
                        <td class="text-right">$17.50</td>
                    </tr>
                    </tbody>
                </table>
                <br> <br>
                <h1 id="ties" style="text-align: center;">TIES</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <div></div>
                            <div></div> <strong>Service</strong>
                        </th>
                        <th class="text-right"><strong>Price</strong></th>
                    </tr>
                    <tr>
                        <td>Shorten Tie Length</td>
                        <td class="text-right">$10.00</td>
                    </tr>
                    <tr>
                        <td>Narrow Tie Length</td>
                        <td class="text-right">$10.50</td>
                    </tr>
                    <tr>
                        <td>Shorten Bow Tie</td>
                        <td class="text-right">$15.00</td>
                    </tr>
                    <tr>
                        <td>Repair Worn Tip</td>
                        <td class="text-right">$5.00</td>
                    </tr>
                    <tr>
                        <td>Repair</td>
                        <td class="text-right">$5.50</td>
                    </tr>
                    </tbody>
                </table>
                <br> <br>
                <h1 id="dresses" style="text-align: center;">DRESSES</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <div></div>
                            <div></div> <strong>Service</strong>
                        </th>
                        <th class="text-right"><strong>Price</strong></th>
                    </tr>
                    <tr>
                        <td>Shorten Dress Length</td>
                        <td class="text-right">$20.00</td>
                    </tr>
                    <tr>
                        <td>Shorten Dress Length</td>
                        <td class="text-right">$25.00</td>
                    </tr>
                    <tr>
                        <td>Take In Waist</td>
                        <td class="text-right">$35.50</td>
                    </tr>
                    <tr>
                        <td>Let Out Waist</td>
                        <td class="text-right">$14.00</td>
                    </tr>
                    <tr>
                        <td>Replace Zippert</td>
                        <td class="text-right">$15.50</td>
                    </tr>
                    </tbody>
                </table>
                <br> <br>
                <h1 id="skirts" style="text-align: center;">SKIRTS</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <div></div>
                            <div></div> <strong>Service</strong>
                        </th>
                        <th class="text-right"><strong>Price</strong></th>
                    </tr>
                    <tr>
                        <td>Shorten Skirt Length</td>
                        <td class="text-right">$18.00</td>
                    </tr>
                    <tr>
                        <td>Shorten Skirt Length</td>
                        <td class="text-right">$17.00</td>
                    </tr>
                    <tr>
                        <td>Take In Waist</td>
                        <td class="text-right">$25.00</td>
                    </tr>
                    <tr>
                        <td>Let Out Waist</td>
                        <td class="text-right">$24.00</td>
                    </tr>
                    <tr>
                        <td>Replace Zipper</td>
                        <td class="text-right">$21.00</td>
                    </tr>
                    </tbody>
                </table>
                <br> <br>
                <h1 id="suits" style="text-align: center;">SUITS JACKET</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <div></div>
                            <div></div> <strong>Service</strong>
                        </th>
                        <th class="text-right"><strong>Price</strong></th>
                    </tr>
                    <tr>
                        <td>Shorten Jacket Length</td>
                        <td class="text-right">$53.00</td>
                    </tr>
                    <tr>
                        <td>Shorten Sleeve Length — From Wrist</td>
                        <td class="text-right">$55.50</td>
                    </tr>
                    <tr>
                        <td>Shorten Sleeve Length — From Shoulder</td>
                        <td class="text-right">$50.00</td>
                    </tr>
                    <tr>
                        <td>Jacket Sides Taken In</td>
                        <td class="text-right">$54.00</td>
                    </tr>
                    <tr>
                        <td>Jacket Sleeves Taken In</td>
                        <td class="text-right">$55.50</td>
                    </tr>
                    </tbody>
                </table>
                <br> <br>
                <h1 id="coats" style="text-align: center;">COATS / JACKET</h1>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>
                            <div></div>
                            <div></div> <strong>Service</strong>
                        </th>
                        <th class="text-right"><strong>Price</strong></th>
                    </tr>
                    <tr>
                        <td>Shorten Length</td>
                        <td class="text-right">$52.00</td>
                    </tr>
                    <tr>
                        <td>Shorten Sleeve Length — From Wrist</td>
                        <td class="text-right">$45.50</td>
                    </tr>
                    <tr>
                        <td>Shorten Sleeve Length — From Shoulder</td>
                        <td class="text-right">$35.00</td>
                    </tr>
                    <tr>
                        <td>Sides Taken In</td>
                        <td class="text-right">$44.00</td>
                    </tr>
                    <tr>
                        <td>Sleeves Taken In</td>
                        <td class="text-right">$45.50</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>