<div class="container-fluid">
    <div class="col-lg-12"
         style="padding: 10px; position: relative; overflow: hidden;">
        <img id="frontpage" src="images/suiting.jpg"
             alt="suitinginfo" width="100%" height="420px" /><br>
        <br>
        <div class="carousel-caption" align="left">
            <h1>
                <a href="#" style="color: white">Northeastern Clothing</a>
            </h1>
            <p>Where future demands suiting up...</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-4">
            <p class="subpagetitle" align="center">
                <a href="#" style="color: black;">Tailoring Process</a>
            </p>
            <div align="center">
                <img src="images/Tailoring.jpg" class="img-circle"
                     alt="Tailoring" width="236" height="236">
            </div>
            <div style="padding: 30px 10px 30px 10px;">

                <p align="center" class="text-justify">Bespoke tailoring means
                    to design garments from a bare canvas, and the client provides his
                    personal choice of style in addition to those of the fitter. We do
                    not have any established patterns. Individual paper pattern is cut
                    from scratch using individual measurements of the clients. We only
                    keep individual paper cut outs of patterns and measurements in
                    file for the client's future orders.</p>
                <p align="center" class="text-justify">Time is an important
                    element. From initial appointment and measurement to when a client
                    finally claims his first bespoke suit involves meticulous hours of
                    hard work. Each suit takes at least forty hours of skillful
                    handwork by our custom tailors and every part of the suit is fully
                    adaptable to the client's specifications. A bespoke suit is a work
                    of art that demands considerable amount of time to flourish which
                    makes it a masterpiece truly worth the wait in the end.</p>
                <p align="center" class="text-justify">The initial appointment
                    allows the client to select his preferred cloth from our
                    collection of over 3,000 luxurious fabric swatches, with the aid
                    of our master fitters. Upon choosing the fabric, the specific
                    style, which the client requires is then discussed with the fitter
                    who will then take the client's measurements.Our made to measure
                    suits are cut and made by hand in our Hong Kong workshop. Our
                    shirt fabrics are imported from Italy, while almost all our suit
                    fabrics are imported from Europe, notably the United Kingdom and
                    Italy.</p>
            </div>

        </div>

        <div class="col-lg-4 col-md-4">
            <p class="subpagetitle" align="center">
                <a href="#" style="color: black;"> The Fitting Process</a>
            </p>
            <div align="center">
                <img src="images/fitting.jpg" class="img-circle"
                     alt="Tailoring" width="236" height="236">
            </div>
            <div style="padding: 30px 10px 30px 10px;">

                <p align="center" class="text-justify">When initially ordering
                    a bespoke suit, you are measured in great precise details that
                    take into account all of the idiosyncrasies of your posture and
                    shape. A bespoke fitter, whom has 2 or 3 generations of experience
                    in our family-run business, measures you.</p>
                <p align="center" class="text-justify">The fitter will be
                    working closely with our cutter to ensure a perfect fit. He will
                    convey a picture of you in his mind and even digitally, whilst he
                    analyses the measurements in order to create a unique pattern for
                    you. The fitter will take a photo of you at the first appointment.</p>
                <p align="center" class="text-justify">The first order of
                    business will be to select an appropriate fabric. We carry a huge
                    range of over 3,000 suits and 1,000 shirt cloths to choose from.
                    We carry virtually every range of cloth you might require. Our
                    master fitter will work closely with you to help you select an
                    appropriate fabric to match your requirements.Once your fabric is
                    selected, you will be precisely measured with over 25 exacting
                    measurements taken. Personal posture and shape details are noted
                    as well.</p>
            </div>
        </div>


        <div class="col-lg-4 col-md-4">
            <p class="subpagetitle" align="center">
                <a href="#" style="color: black;">Our Collection</a>
            </p>
            <div align="center">
                <img src="images/collection.jpg" class="img-circle"
                     alt="Tailoring" width="236" height="236">
            </div>
            <div style="padding: 30px 10px 30px 10px;">

                <p align="center" class="text-justify">Our suits, shirts, and
                    other garments are made from high quality fabrics ranging from
                    pure cottons to pure silks. We carry over 3,000 luxury fabrics
                    with a collection boasting of world-class materials from Dormeuil,
                    Wain Sheill, Scabal, Loro Piana, Holland and Sherry and
                    Ermenegildo Zegna. Take your pick from our plethora of fabrics
                    ranging from the finest Super 150's and up, to the purest
                    cashmeres suitable for all occasions.</p>
                <p align="center" class="text-justify">For all-season fashion,
                    luxurious wool is a great choice. Stylish fashion emerges from the
                    best cloths that define quality as well as luxury, and the finest
                    pure wool worsted fabric is the first choice for making
                    high-quality custom tailored suits. Wool is favored for its
                    durability and comfort in any given environment. Whether formal
                    dressing, semi casual or casual wear, pure worsted wool is
                    renowned for its versatility, comfort, and quality. Worsted wool,
                    regarded for its natural texture, exceptional draping abilities
                    and comfort, is an effective suiting cloth that is both appealing
                    and comfortably adaptable. Its fluid draping allows its beautiful
                    silhouette to withstand wear and tear for a long time.</p>
                <p align="center" class="text-justify">We carefully select the
                    finest cloths in the latest patterns and colors to include in our
                    wide range of fabric collections. Our latest collection, from
                    Super 150's to the classic wools, has all the latest fabric styles
                    for you.</p>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: black; color: white;">

        <div class="col-lg-4">
            <p class="whyneu">Why Northeastern Clothing?</p>
            <ul class="f_mid"
                style="color: #f9f9f9; font-family: Arial, Helvetica, sans-serif;">

                <li style="list-style: none; margin-bottom: 15px;"><span
                        class="glyphicon glyphicon-check" style="color: #ff0c0c;"></span>
                    <b>Unlimited Customisation</b><br> <i style="font-size: 13px">An
                        unlimited range of styles and thousands of fabrics to choose from</i></li>

                <li style="list-style: none; margin-bottom: 15px;"><span
                        class="glyphicon glyphicon-check" style="color: #ff0c0c;"></span>
                    <b>Style Consultant At Your Disposal</b><br> <i
                            style="font-size: 13px">Our experienced fitters will assist in
                        styling and selecting fabrics depending on your needs</i></li>

                <li style="list-style: none; margin-bottom: 15px;"><span
                        class="glyphicon glyphicon-check" style="color: #ff0c0c;"></span>
                    <b>Personal Fitting To Ensure Perfect Fit</b><br> <i
                            style="font-size: 13px">See our fitter on one of our bimonthly
                        visits to over 100 cities worldwide</i></li>

                <li style="list-style: none; margin-bottom: 15px;"><span
                        class="glyphicon glyphicon-check" style="color: #ff0c0c;"></span>
                    <b>100% Satisfaction Guaranteed</b><br> <i
                            style="font-size: 13px">If you are not satisfied, we will
                        adjust or remake it</i></li>

            </ul>
        </div>


        <div class="col-lg-4">
            <p class="whyneu">Style Journal</p>
            <ul class="f_mid"
                style="color: #f9f9f9; font-family: Arial, Helvetica, sans-serif; list-style: none">

                <li><a href="http://www.hiras.com/blog/blog/accessories/"
                       target="_blank" style="color: #fff">Accessories</a></li>
                <li><a href="http://www.hiras.com/blog/blog/weddings-2/"
                       target="_blank" style="color: #fff">Bespoke Wedding Ensembles</a>
                </li>
                <li><a href="http://www.hiras.com/blog/blog/shirts/"
                       target="_blank" style="color: #fff">Custom Tailored Shirts</a></li>
                <li><a href="http://www.hiras.com/blog/blog/suits/"
                       target="_blank" style="color: #fff">Custom Tailored Suits</a></li>
                <li><a href="http://www.hiras.com/blog/blog/fabric/"
                       target="_blank" style="color: #fff">Fabric Essentials</a></li>
                <li><a href="http://www.hiras.com/blog/blog/fashion-tips/"
                       target="_blank" style="color: #fff">Fashion Tips</a></li>
                <li><a href="http://www.hiras.com/blog/blog/footwear/"
                       target="_blank" style="color: #fff">Footwear</a></li>
            </ul>

        </div>

        <div class="col-lg-4">
            <p class="whyneu">Reach out to us at:</p>
            <p itemprop="name"
               style="color: #ffffff; font-size: 18px; font-weight: bold;">Northeastern
                Clothing</p>
            <section itemprop="address" itemscope
                     itemtype="http://schema.org/PostalAddress">

                <p itemprop="streetAddress" style="color: #fff;">
                    323 Curry Center<br> 360 Huntington Avenue<br> <span
                        itemprop="addressRegion">Boston</span>, <span
                        itemprop="addressCountry">USA</span><br> <br> Fax: <a
                        href="tel:(857)-294-6651"
                        OnClick="ga('send', 'event', 'Lead', 'ClicktoCall');">+857
                    294-6651</a><br> Tel: <span itemprop="telephone"><a
                        href="tel:(857)-294-6651"
                        OnClick="ga('send', 'event', 'Lead', 'ClicktoCall');">+857-294-6651</a></span><br>

                    Email : <span class="footercopy" itemprop="email"><a
                        href="mailto:info@hiras.com">gada.r@husky.neu.edu</a></span>
                </p>
                <div class="hidden-xs" id="payment"
                     style="margin-top: 10px; margin-left: -8px;"></div>

            </section>
        </div>

    </div>
</div>